/*2. The text should be white and background black.*/
html{
    background-color: black;
}
/* 1. The main h1 text should be using the Regular Libre Baskerville Font from Google Fonts:
  https://fonts.google.com/specimen/Libre+Baskerville */
h1{
    font-family:"Libre Baskerville", serif;
    text-transform: uppercase;
    color:white;
    font-size: 4rem;
}
/* 3. Add your own image into the images folder inside assets. It should have a 5px white border. */
img{
    border: 5px solid white;
    width: 100%;
    margin-top: 5rem;
    margin-bottom:1rem;
}
p{      
    font-family:"Libre Baskerville", serif;
    color:white;
    font-size: x-large;
  }
div{
    width:50%;
    margin-left: 25%;
    text-align: center;    /* 4. The text should be center aligned. */
}